.filterheader {
  margin-left: 32px;
  margin-right: 32px;
  width: auto;
  &__div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__container {
    height: 128px;
  }
  &__header {
    font-family: "SFProDisplay-Regular";
    font-size: 24px;
    letter-spacing: -0.48pt;
  }
  &__icon {
    width: 18.7px;
    height: 20px;
  }
  &__cat__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__cat-one {
    margin-right: 8px;
    width: 118px;
    height: 32px;
    background-color: rgb(233, 40, 11);
    color: white;
    border-radius: 18px;
    text-align: center;
    margin: auto;
    padding-top: 2px;
    font-size: 14px;
  }
  &__cat-two {
    margin-right: 8px;
    width: 118px;
    height: 32px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 18px;
    text-align: center;
    margin: auto;
    padding-top: 2px;
    border: 1px solid rgb(233, 40, 11);
    font-size: 14px;
  }
}
