.header {
  margin: 0 5%;
  &__logo {
    height: 28px;
    width: 77px;
  }
  &__icon {
    height: 22px;
    width: 22px;
  }

  &__container {
    margin-top: 5px;
    height: 60px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__button__wrapper {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
}
