.videoComments {
    border-top: 1px solid rgb(237, 237, 237);

    &__wrapper {
        padding: 15px 32px; 
    }

    &__header {
        margin: 10px 0; 
        font-family: "SFProText-Semibold"; 
    }

    &__head {
        margin-right: 10px;
    }

    &__viewAll {
        font-family: "SFProText-Semibold";
        background-color: white;
        border: none; 
        color: red; 
    }

    &__comment {
        font-family: "SFProDisplay-Regular";
        margin: 10px 0; 
        display: flex;
        align-items: center;
    }

    &__text {
        margin-left: 15px; 
    }
}